<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<title>Reset Email</title>
</head>
<body>
    <form action="#" th:action="@{/account/forget-password}"
        th:object="${passwordResetEmailForm}" method="post">

        <input type="text" th:field="*{email}" placeholder="Email" />
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid
            email</p>
        <input type="submit" value="Reset Email" />
    </form>
</body>
</html>
