<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<title>Password Reset Form</title>
</head>
<body>
    <form action="#" th:action="@{/account/reset-password}"
        th:object="${passwordResetForm}" method="post">
        <input type="hidden" th:field="*{token}" th:value="*{token}" />
        <input type="text" th:field="*{password}" placeholder="Password" />
        <span th:if="${#fields.hasErrors('password')}"
            th:errors="*{password}">Invalid password</span>
        <br />
        <input type="text" th:field="*{confirmedPassword}"
            placeholder="Confirm Password" />
        <span th:if="${#fields.hasErrors('confirmedPassword')}"
            th:errors="*{confirmedPassword}">Passwords do not
            match</span>
        <br />
        <input type="submit" value="Reset Password" />
    </form>
</body>
</html>
